
#titleassentos{
    margin-top: 110px;
    margin-left: 80px;
    font-family: cinematografia;
    font-size: 80px;
    color: white;  
}


.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 40px);
    margin-top: 100px;
}

.box {
    background-color: #210c3d;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 0 10px;
}

#side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00b894;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #00a384;
}

.cinema-screen {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.seat-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.seat {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #333;
}

.seat.selected {
    background-color: #6c5ce7;
    color: #fff;
    transform: scale(1.1);
}

.seat:hover {
    transform: scale(1.1);
}

.seat-label {
    font-weight: bold;
}